div.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.doc-sum {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    border: black 1px solid;
    padding: 1vw;
    margin: .25vw;
}
